
    h1{
        color: red;
    }

    p {
        border: 3px solid green;
    }

    h2 {
        background: yellow;
        border: 5px solid blue;
        border-radius: 15px;
        padding: 10px;
    }